parameters:
    level: max
    paths:
        - src
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '#Call to an undefined method .*#'
    excludes_analyse:
        - tests/*
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
